
@font-face {
    font-family: "Números Mixe-Zoqueanos";
    font-style: normal;
    font-weight: 400;
    src: url("https://numeros-mixe-zoqueanos.adaburrows.com/numeros mixezoqueanos.ttf") format("truetype");
}
